/*--------------------------------------------------------------
## Custom general
--------------------------------------------------------------*/
body {
  background-color: #fff;
}
.img-fullwidth {
  width: 100%;
  height: auto;
}
/*--------------------------------------------------------------
## Custom general
--------------------------------------------------------------*/
