/*--------------------------------------------------------------
## Custom general
--------------------------------------------------------------*/
body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  color: #2a2a2a;
}
.img-fullwidth {
  width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
#header {
  position: relative;
  z-index: 2;
}
#header .container-nav {
  position: absolute;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
}
#header .container-nav #info {
  margin-bottom: 10px;
  padding-top: 20px;
  font-size: 13px;
  color: #eee;
  background-color: transparent;
}
#header .container-nav #info .callUs,
#header .container-nav #info .language,
#header .container-nav #info .social {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 1;
}
#header .container-nav #info .callUs {
  margin-right: 20px;
  padding-bottom: 11px;
}
#header .container-nav #info .callUs .number {
  font-weight: bold;
}
#header .container-nav #info .language {
  padding-bottom: 11px;
  margin-right: 20px;
  cursor: pointer;
}
#header .container-nav #info .language i {
  font-size: 8px;
}
#header .container-nav #info .social {
  font-size: 14px;
  padding-bottom: 11px;
}
#header .container-nav #info .social a {
  color: #eee;
  padding-right: 20px;
}
#header .container-nav #navbar-top {
  background-color: transparent;
  border: none;
}
#header .container-nav #navbar-top .navbar-header {
  margin-top: -10px;
}
#header .container-nav #navbar-top .navbar-header .navbar-brand {
  padding: 0;
}
#header .container-nav #navbar-top .navbar-collapse .navbar-nav.navbar-right {
  font-size: 13px;
}
#header .container-nav #navbar-top .navbar-collapse .navbar-nav.navbar-right > li > a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 20px;
  padding-left: 20px;
}
#header #slide-top {
  z-index: 0;
}
#header #slide-top .carousel-inner .item .carousel-caption {
  z-index: 3;
  color: #fff;
  text-shadow: none;
  left: 0;
  right: 0;
  padding: 0;
  top: 50%;
  bottom: auto;
}
#header #slide-top .carousel-inner .item .carousel-caption h2 {
  font-size: 55px;
  font-family: 'Crimson Text', serif;
  margin-bottom: 11px;
}
#header #slide-top .carousel-inner .item .carousel-caption small {
  font-size: 24px;
  display: block;
  margin-bottom: 35px;
}
#header #slide-top .carousel-inner .item .carousel-caption a.explore {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 14px;
  padding: 13px 33px;
}
#header #slide-top .carousel-inner .item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/*--------------------------------------------------------------
## Main content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Reservation
--------------------------------------------------------------*/
#reservation {
  z-index: 5;
  position: absolute;
  bottom: -70px;
  left: 0;
  width: 100%;
}
#reservation .container {
  border: 1px solid #eee;
  background-color: #fff;
}
#reservation .container form {
  padding: 30px 25px 30px 45px;
}
#reservation .container form .form-group {
  float: left;
  padding-right: 20px;
}
#reservation .container form .form-group .input-group .form-control {
  color: #7a7a7a;
  font-size: 15px;
  height: 40px;
}
#reservation .container form .form-group .input-group .form-control[readonly] {
  background-color: #fff;
}
#reservation .container form .form-group .input-group .input-group-addon {
  cursor: pointer;
}
#reservation .container form .form-group .input-group .input-group-addon i {
  width: 13px;
  height: 13px;
}
#reservation .container form .form-group button.check-availability {
  font-size: 14px;
  color: #fff;
  background-color: #2eb0d1;
  height: 40px;
  outline: none;
}
/*--------------------------------------------------------------
### Room
--------------------------------------------------------------*/
#room {
  margin-top: 130px;
}
#room .container .title {
  background: url("../img/img-border-bottom.png") bottom center no-repeat;
  padding-bottom: 48px;
  margin-bottom: 40px;
}
#room .container .title h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
#room .container .title small {
  font-size: 15px;
}
#room .container .nav {
  margin-bottom: 37px;
}
#room .container .nav .previous,
#room .container .nav .next {
  cursor: pointer;
}
#room .container .nav .all-rooms {
  font-size: 15px;
  color: #2a2a2a;
  padding-right: 30px;
  padding-left: 30px;
}
#room .container .rooms {
  margin-bottom: 80px;
}
#room .container .rooms .thumb {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#room .container .rooms .thumb .details {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}
#room .container .rooms .thumb .details .price {
  font-family: 'Crimson Text', serif;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  margin-right: 9px;
  padding-bottom: 9px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}
#room .container .rooms .thumb .details .time {
  font-family: 'Aileron', serif;
  color: #fff;
  font-size: 13px;
  padding-top: 7px;
  padding-right: 14px;
  padding-bottom: 11px;
}
#room .container .rooms .thumb:before {
  content: "";
  background-color: rgba(46, 176, 209, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -58%;
  right: -58%;
  z-index: 2;
  transform: rotate(45deg);
}
#room .container .rooms h3.name {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
/*--------------------------------------------------------------
### Banner
--------------------------------------------------------------*/
#banner {
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 60px;
}
#banner .text {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 2;
  transition: all 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
}
#banner .text .hot {
  font-size: 18px;
  color: #2a2a2a;
  padding-top: 54px;
}
#banner .text .savings {
  font-size: 60px;
  font-family: 'Crimson Text', serif;
  font-weight: bold;
  line-height: 1;
  color: #2a2a2a;
  margin-top: 17px;
}
#banner .text .sale {
  font-size: 24px;
  color: #2a2a2a;
  margin-top: 6px;
  line-height: 1;
}
#banner .text .learn-more {
  background-color: #b19261;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  margin-top: 27px;
  margin-bottom: 53px;
}
#banner:hover .text {
  opacity: 1;
}
/*--------------------------------------------------------------
### About
--------------------------------------------------------------*/
#about {
  margin-bottom: 50px;
}
#about .container .about h3 {
  font-size: 24px;
  font-family: 'Crimson Text', serif;
  font-weight: bold;
  padding-bottom: 22px;
  position: relative;
  margin-bottom: 40px;
}
#about .container .about h3:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 30px;
  height: 1px;
  background-color: #2eb0d1;
}
#about .container .about .row {
  padding-bottom: 20px;
}
#about .container .about .row .details p {
  font-size: 15px;
  line-height: 24px;
  color: #5a5a5a;
  margin-bottom: 30px;
}
#about .container .about .row .details .number,
#about .container .about .row .details .mail {
  color: #2eb0d1;
  font-size: 15px;
}
#about .container .about .row .details .number {
  margin-bottom: 20px;
}
#about .container .services {
  border-left: 1px solid #eee;
  padding-left: 40px;
}
#about .container .services h3 {
  font-size: 24px;
  font-family: 'Crimson Text', serif;
  font-weight: bold;
  padding-bottom: 22px;
  position: relative;
  margin-bottom: 40px;
}
#about .container .services h3:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 30px;
  height: 1px;
  background-color: #2eb0d1;
}
#about .container .services .list-services {
  padding: 0;
  list-style: none;
  font-size: 15px;
  margin-bottom: 0;
  padding-bottom: 30px;
}
#about .container .services .list-services li {
  margin-bottom: 20px;
  line-height: 16px;
  color: #5a5a5a;
}
#about .container .services .list-services li i {
  padding-right: 9px;
  color: #2eb0d1;
  font-size: 16px;
}
/*--------------------------------------------------------------
### Video
--------------------------------------------------------------*/
#video {
  height: 480px;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
  transition: all 400ms;
}
#video .container-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}
#video .container-video video {
  width: 100%;
}
#video .title {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
}
#video .title .video_name {
  font-size: 40px;
  font-family: 'Crimson Text', serif;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  margin-bottom: 30px;
}
#video .title .play {
  cursor: pointer;
  display: inline-block;
}
#video.paused:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.18);
  z-index: 5;
}
/*--------------------------------------------------------------
### Event
--------------------------------------------------------------*/
#event {
  margin-bottom: 75px;
}
#event .container .event h3,
#event .container .testimonial h3,
#event .container .instagram h3 {
  font-size: 24px;
  font-family: 'Crimson Text', serif;
  font-weight: bold;
  padding-bottom: 22px;
  position: relative;
  margin-bottom: 40px;
}
#event .container .event h3:after,
#event .container .testimonial h3:after,
#event .container .instagram h3:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 30px;
  height: 1px;
  background-color: #2eb0d1;
}
#event .container .event .list-events .item {
  margin-bottom: 40px;
}
#event .container .event .list-events .item .date {
  color: #fff;
  background-color: #2eb0d1;
  width: 60px;
  height: 60px;
  display: table;
  margin-right: 20px;
  margin-bottom: 40px;
}
#event .container .event .list-events .item .date .table {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#event .container .event .list-events .item .date .table .day {
  font-size: 24px;
  line-height: 1;
}
#event .container .event .list-events .item .date .table .month {
  font-size: 14px;
}
#event .container .event .list-events .item .details {
  width: calc(100% - 80px);
}
#event .container .event .list-events .item .details h4 {
  font-size: 20px;
  line-height: 30px;
  font-family: 'Crimson Text', serif;
  font-weight: bold;
}
#event .container .event .list-events .item .details p {
  font-size: 15px;
  color: #5a5a5a;
  line-height: 24px;
  margin-bottom: 0;
}
#event .container .event > a {
  color: #2eb0d1;
  font-size: 15px;
  text-decoration: underline;
}
#event .container .testimonial #carousel .carousel-inner .item .testimonial_content {
  border: 1px solid #eee;
  font-size: 15px;
  line-height: 24px;
  color: #5a5a5a;
  padding: 22px 21px 50px 21px;
}
#event .container .testimonial #carousel .carousel-inner .item .person {
  margin-left: 20px;
  margin-top: -28px;
}
#event .container .testimonial #carousel .carousel-inner .item .person img {
  margin-right: 15px;
  margin-left: -5px;
  width: 90px;
  height: 80px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #fff;
}
#event .container .testimonial #carousel .carousel-inner .item .person .details {
  display: table;
  width: calc(100% - 100px);
  height: 80px;
}
#event .container .testimonial #carousel .carousel-inner .item .person .details .table-cell {
  display: table-cell;
  vertical-align: bottom;
}
#event .container .testimonial #carousel .carousel-inner .item .person .details .table-cell h4 {
  font-size: 15px;
  color: #2eb0d1;
  font-weight: bold;
  line-height: 24px;
}
#event .container .testimonial #carousel .carousel-inner .item .person .details .table-cell .regency {
  font-size: 13px;
  color: #5a5a5a;
  font-style: italic;
}
#event .container .testimonial .carousel-indicators {
  bottom: -50px;
  left: 0;
  margin-left: 35px;
  height: 10px;
  text-align: left;
}
#event .container .testimonial .carousel-indicators li {
  background-color: #888;
  width: 10px;
  height: 10px;
  margin: 0 5px 0 0;
  border: none;
}
#event .container .testimonial .carousel-indicators li.active {
  background-color: #2eb0d1;
  width: 10px;
  height: 10px;
}
#event .container .instagram .list-images .row:not(:last-child) {
  margin-bottom: 20px;
}
#event .container .instagram .list-images .row > div {
  padding-left: 10px;
  padding-right: 10px;
}
/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
#footer {
  background-color: #edf1f4;
}
#footer .container .top-footer {
  margin-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid #dce0e2;
}
#footer .container .top-footer .company-info {
  color: #7a7a7a;
  margin-top: -30px;
}
#footer .container .top-footer .company-info > img {
  margin-bottom: 24px;
}
#footer .container .top-footer .company-info .contact {
  line-height: 1;
}
#footer .container .top-footer .company-info .contact .call,
#footer .container .top-footer .company-info .contact .email {
  font-size: 15px;
}
#footer .container .top-footer .company-info .contact .call .bold,
#footer .container .top-footer .company-info .contact .email .bold {
  font-weight: bold;
}
#footer .container .top-footer .company-info .contact .call {
  padding-bottom: 14px;
}
#footer .container .top-footer .company-info .contact .email {
  padding-bottom: 30px;
}
#footer .container .top-footer .company-info .address {
  font-size: 16px;
  line-height: 26px;
}
#footer .container .top-footer .linked .list-link {
  list-style: none;
  margin-bottom: 10px;
  padding-left: 0;
}
#footer .container .top-footer .linked .list-link li {
  padding-bottom: 23px;
}
#footer .container .top-footer .linked .list-link li a {
  display: block;
  color: #2a2a2a;
  font-size: 15px;
  line-height: 1;
}
#footer .container .top-footer .newsletter h4 {
  font-family: 'Crimson Text', serif;
  font-weight: bold;
  line-height: 1;
  color: #333;
  font-size: 20px;
  margin-bottom: 30px;
}
#footer .container .top-footer .newsletter form .form-group {
  margin-bottom: 33px;
}
#footer .container .top-footer .newsletter form .form-group .input {
  float: left;
  width: 70%;
  padding-right: 8px;
}
#footer .container .top-footer .newsletter form .form-group .input .form-control {
  height: 40px;
  font-size: 13px;
  background: #ffffff url("../img/mail.png") right 10px top 10px no-repeat;
}
#footer .container .top-footer .newsletter form .form-group .submit {
  float: left;
  width: 30%;
}
#footer .container .top-footer .newsletter form .form-group .submit button {
  display: block;
  width: 100%;
  background-color: #111111;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  height: 40px;
}
#footer .container .top-footer .newsletter .social a {
  font-size: 18px;
  color: #7a7a7a;
  line-height: 1;
  padding-right: 20px;
}
#footer .container .copyright {
  height: 95px;
  display: table;
}
#footer .container .copyright .table-cell {
  display: table-cell;
  vertical-align: middle;
  font-size: 13px;
  color: #7a7a7a;
}
#footer .container .copyright .table-cell a {
  color: #2eb0d1;
}
/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media (max-width: 560px) {
  #header .container-nav #info {
    display: none!important;
  }
  #header .container-nav #navbar-top {
    margin-top: 20px!important;
  }
  #header .container-nav #navbar-top .navbar-header .navbar-toggle {
    margin-top: 10px!important;
  }
  #header #slide-top .carousel-inner .item .carousel-caption h2 {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  #header .container-nav #navbar-top {
    margin-top: -30px;
  }
  #header .container-nav #navbar-top .navbar-header .navbar-toggle {
    margin-top: 60px;
  }
  #header #slide-top .carousel-inner .item .carousel-caption h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  #header #slide-top .carousel-inner .item .carousel-caption small {
    font-size: 14px;
    margin-bottom: 10px;
  }
  #header #slide-top .carousel-inner .item .carousel-caption a.explore {
    padding: 7px 20px;
    font-size: 13px;
  }
  #header #reservation {
    position: static;
  }
  #header #reservation .container {
    padding-left: 0;
    padding-right: 0;
  }
  #header #reservation .container form {
    padding: 30px 0;
  }
  #room {
    margin-top: 40px;
  }
  #banner .text .savings {
    font-size: 30px;
    margin-top: 5px;
  }
  #banner .text .sale {
    font-size: 16px;
  }
  #banner .text .learn-more {
    margin-top: 12px;
  }
  #about .container .row .services {
    border: none;
    padding-left: 0;
  }
  #video {
    height: 150px;
  }
  #video .title .video_name {
    display: none;
  }
  #event .container .row .event {
    padding-bottom: 30px;
  }
  #event .container .row .testimonial {
    padding-bottom: 70px;
  }
  #footer .container .top-footer .company-info {
    padding-bottom: 30px;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  #header .container-nav #navbar-top {
    margin-top: -30px;
  }
  #header .container-nav #navbar-top .navbar-header .navbar-toggle {
    margin-top: 10px;
    margin-left: 20px;
    display: block;
  }
  #header .container-nav #navbar-top .navbar-collapse {
    display: none!important;
  }
  #header #slide-top .carousel-inner .item .carousel-caption h2 {
    font-size: 50px;
    font-family: 'Crimson Text', serif;
    margin-bottom: 10px;
  }
  #header #slide-top .carousel-inner .item .carousel-caption small {
    font-size: 21px;
    display: block;
    margin-bottom: 30px;
  }
  #header #slide-top .carousel-inner .item .carousel-caption a.explore {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    font-size: 14px;
    padding: 13px 33px;
  }
  #header #reservation {
    position: static;
  }
  #room {
    margin-top: 60px;
  }
  #video {
    height: 300px;
  }
  #video .title .video_name {
    display: block;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #header .container-nav #navbar-top {
    margin-top: 0;
  }
  #header .container-nav #navbar-top .navbar-header .navbar-toggle {
    margin-top: 10px;
    margin-left: 20px;
    display: none;
  }
  #header .container-nav #navbar-top .navbar-collapse {
    display: block!important;
  }
  #header #slide-top .carousel-inner .item .carousel-caption h2 {
    font-size: 50px;
    font-family: 'Crimson Text', serif;
    margin-bottom: 10px;
  }
  #header #slide-top .carousel-inner .item .carousel-caption small {
    font-size: 21px;
    display: block;
    margin-bottom: 30px;
  }
  #header #slide-top .carousel-inner .item .carousel-caption a.explore {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    font-size: 14px;
    padding: 13px 33px;
  }
  #header #reservation {
    z-index: 5;
    position: absolute;
    bottom: -70px;
    left: 0;
    width: 100%;
  }
  #header #reservation .container {
    border: 1px solid #eee;
    background-color: #fff;
  }
  #header #reservation .container form {
    padding: 30px 25px 30px 45px;
  }
  #header #reservation .container form .form-group {
    width: 20%;
    float: left;
    padding-right: 20px;
  }
  #header #reservation .container form .form-group .input-group .form-control {
    color: #7a7a7a;
    font-size: 15px;
    height: 40px;
  }
  #header #reservation .container form .form-group .input-group .form-control[readonly] {
    background-color: #fff;
  }
  #header #reservation .container form .form-group .input-group .input-group-addon {
    cursor: pointer;
  }
  #header #reservation .container form .form-group .input-group .input-group-addon i {
    width: 13px;
    height: 13px;
  }
  #header #reservation .container form .form-group button.check-availability {
    font-size: 14px;
    color: #fff;
    background-color: #2eb0d1;
    height: 40px;
    outline: none;
  }
  #room {
    margin-top: 130px;
  }
  #room .container .title {
    background: url("../img/img-border-bottom.png") bottom center no-repeat;
    padding-bottom: 48px;
    margin-bottom: 40px;
  }
  #room .container .title h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  #room .container .title small {
    font-size: 15px;
  }
  #room .container .nav {
    margin-bottom: 37px;
  }
  #room .container .nav .previous,
  #room .container .nav .next {
    cursor: pointer;
  }
  #room .container .nav .all-rooms {
    font-size: 15px;
    color: #2a2a2a;
    padding-right: 30px;
    padding-left: 30px;
  }
  #room .container .rooms {
    margin-bottom: 80px;
  }
  #room .container .rooms .thumb {
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  #room .container .rooms .thumb .details {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
  }
  #room .container .rooms .thumb .details .price {
    font-family: 'Crimson Text', serif;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    margin-right: 9px;
    padding-bottom: 9px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  }
  #room .container .rooms .thumb .details .time {
    font-family: 'Aileron', serif;
    color: #fff;
    font-size: 13px;
    padding-top: 7px;
    padding-right: 14px;
    padding-bottom: 11px;
  }
  #room .container .rooms .thumb:before {
    content: "";
    background-color: rgba(46, 176, 209, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -58%;
    right: -58%;
    z-index: 2;
    transform: rotate(45deg);
  }
  #room .container .rooms h3.name {
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }
  #banner {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 60px;
  }
  #banner .text {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: 2;
    transition: all 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
  }
  #banner .text .hot {
    font-size: 18px;
    color: #2a2a2a;
    padding-top: 54px;
  }
  #banner .text .savings {
    font-size: 60px;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    line-height: 1;
    color: #2a2a2a;
    margin-top: 17px;
  }
  #banner .text .sale {
    font-size: 24px;
    color: #2a2a2a;
    margin-top: 6px;
    line-height: 1;
  }
  #banner .text .learn-more {
    background-color: #b19261;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    margin-top: 27px;
    margin-bottom: 53px;
  }
  #banner:hover .text {
    opacity: 1;
  }
  #about {
    margin-bottom: 50px;
  }
  #about .container .about h3 {
    font-size: 24px;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    padding-bottom: 22px;
    position: relative;
    margin-bottom: 40px;
  }
  #about .container .about h3:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 30px;
    height: 1px;
    background-color: #2eb0d1;
  }
  #about .container .about .row {
    padding-bottom: 20px;
  }
  #about .container .about .row .details p {
    font-size: 15px;
    line-height: 24px;
    color: #5a5a5a;
    margin-bottom: 30px;
  }
  #about .container .about .row .details .number,
  #about .container .about .row .details .mail {
    color: #2eb0d1;
    font-size: 15px;
  }
  #about .container .about .row .details .number {
    margin-bottom: 20px;
  }
  #about .container .services {
    border-left: 1px solid #eee;
    padding-left: 40px;
  }
  #about .container .services h3 {
    font-size: 24px;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    padding-bottom: 22px;
    position: relative;
    margin-bottom: 40px;
  }
  #about .container .services h3:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 30px;
    height: 1px;
    background-color: #2eb0d1;
  }
  #about .container .services .list-services {
    padding: 0;
    list-style: none;
    font-size: 15px;
    margin-bottom: 0;
    padding-bottom: 30px;
  }
  #about .container .services .list-services li {
    margin-bottom: 20px;
    line-height: 16px;
    color: #5a5a5a;
  }
  #about .container .services .list-services li i {
    padding-right: 9px;
    color: #2eb0d1;
    font-size: 16px;
  }
  #video {
    height: 480px;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-bottom: 60px;
    transition: all 400ms;
  }
  #video .container-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
  }
  #video .container-video video {
    width: 100%;
  }
  #video .title {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  #video .title .video_name {
    font-size: 40px;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    margin-bottom: 30px;
  }
  #video .title .play {
    cursor: pointer;
    display: inline-block;
  }
  #video.paused:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.18);
    z-index: 5;
  }
  #event {
    margin-bottom: 75px;
  }
  #event .container .event h3,
  #event .container .testimonial h3,
  #event .container .instagram h3 {
    font-size: 24px;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    padding-bottom: 22px;
    position: relative;
    margin-bottom: 40px;
  }
  #event .container .event h3:after,
  #event .container .testimonial h3:after,
  #event .container .instagram h3:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 30px;
    height: 1px;
    background-color: #2eb0d1;
  }
  #event .container .event .list-events .item {
    margin-bottom: 40px;
  }
  #event .container .event .list-events .item .date {
    color: #fff;
    background-color: #2eb0d1;
    width: 60px;
    height: 60px;
    display: table;
    margin-right: 20px;
    margin-bottom: 40px;
  }
  #event .container .event .list-events .item .date .table {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  #event .container .event .list-events .item .date .table .day {
    font-size: 24px;
    line-height: 1;
  }
  #event .container .event .list-events .item .date .table .month {
    font-size: 14px;
  }
  #event .container .event .list-events .item .details {
    width: calc(100% - 80px);
  }
  #event .container .event .list-events .item .details h4 {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
  }
  #event .container .event .list-events .item .details p {
    font-size: 15px;
    color: #5a5a5a;
    line-height: 24px;
    margin-bottom: 0;
  }
  #event .container .event > a {
    color: #2eb0d1;
    font-size: 15px;
    text-decoration: underline;
  }
  #event .container .testimonial #carousel .carousel-inner .item .testimonial_content {
    border: 1px solid #eee;
    font-size: 15px;
    line-height: 24px;
    color: #5a5a5a;
    padding: 22px 21px 50px 21px;
  }
  #event .container .testimonial #carousel .carousel-inner .item .person {
    margin-left: 20px;
    margin-top: -28px;
  }
  #event .container .testimonial #carousel .carousel-inner .item .person img {
    margin-right: 15px;
    margin-left: -5px;
    width: 90px;
    height: 80px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #fff;
  }
  #event .container .testimonial #carousel .carousel-inner .item .person .details {
    display: table;
    width: calc(100% - 100px);
    height: 80px;
  }
  #event .container .testimonial #carousel .carousel-inner .item .person .details .table-cell {
    display: table-cell;
    vertical-align: bottom;
  }
  #event .container .testimonial #carousel .carousel-inner .item .person .details .table-cell h4 {
    font-size: 15px;
    color: #2eb0d1;
    font-weight: bold;
    line-height: 24px;
  }
  #event .container .testimonial #carousel .carousel-inner .item .person .details .table-cell .regency {
    font-size: 13px;
    color: #5a5a5a;
    font-style: italic;
  }
  #event .container .testimonial .carousel-indicators {
    bottom: -50px;
    left: 0;
    margin-left: 35px;
    height: 10px;
    text-align: left;
  }
  #event .container .testimonial .carousel-indicators li {
    background-color: #888;
    width: 10px;
    height: 10px;
    margin: 0 5px 0 0;
    border: none;
  }
  #event .container .testimonial .carousel-indicators li.active {
    background-color: #2eb0d1;
    width: 10px;
    height: 10px;
  }
  #event .container .instagram .list-images .row:not(:last-child) {
    margin-bottom: 20px;
  }
  #event .container .instagram .list-images .row > div {
    padding-left: 10px;
    padding-right: 10px;
  }
  #footer {
    background-color: #edf1f4;
  }
  #footer .container .top-footer {
    margin-top: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid #dce0e2;
  }
  #footer .container .top-footer .company-info {
    color: #7a7a7a;
    margin-top: -30px;
  }
  #footer .container .top-footer .company-info > img {
    margin-bottom: 24px;
  }
  #footer .container .top-footer .company-info .contact {
    line-height: 1;
  }
  #footer .container .top-footer .company-info .contact .call,
  #footer .container .top-footer .company-info .contact .email {
    font-size: 15px;
  }
  #footer .container .top-footer .company-info .contact .call .bold,
  #footer .container .top-footer .company-info .contact .email .bold {
    font-weight: bold;
  }
  #footer .container .top-footer .company-info .contact .call {
    padding-bottom: 14px;
  }
  #footer .container .top-footer .company-info .contact .email {
    padding-bottom: 30px;
  }
  #footer .container .top-footer .company-info .address {
    font-size: 16px;
    line-height: 26px;
  }
  #footer .container .top-footer .linked .list-link {
    list-style: none;
    margin-bottom: 10px;
    padding-left: 0;
  }
  #footer .container .top-footer .linked .list-link li {
    padding-bottom: 23px;
  }
  #footer .container .top-footer .linked .list-link li a {
    display: block;
    color: #2a2a2a;
    font-size: 15px;
    line-height: 1;
  }
  #footer .container .top-footer .newsletter h4 {
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    line-height: 1;
    color: #333;
    font-size: 20px;
    margin-bottom: 30px;
  }
  #footer .container .top-footer .newsletter form .form-group {
    margin-bottom: 33px;
  }
  #footer .container .top-footer .newsletter form .form-group .input {
    float: left;
    width: 70%;
    padding-right: 8px;
  }
  #footer .container .top-footer .newsletter form .form-group .input .form-control {
    height: 40px;
    font-size: 13px;
    background: #ffffff url("../img/mail.png") right 10px top 10px no-repeat;
  }
  #footer .container .top-footer .newsletter form .form-group .submit {
    float: left;
    width: 30%;
  }
  #footer .container .top-footer .newsletter form .form-group .submit button {
    display: block;
    width: 100%;
    background-color: #111111;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    height: 40px;
  }
  #footer .container .top-footer .newsletter .social a {
    font-size: 18px;
    color: #7a7a7a;
    line-height: 1;
    padding-right: 20px;
  }
  #footer .container .copyright {
    height: 95px;
    display: table;
  }
  #footer .container .copyright .table-cell {
    display: table-cell;
    vertical-align: middle;
    font-size: 13px;
    color: #7a7a7a;
  }
  #footer .container .copyright .table-cell a {
    color: #2eb0d1;
  }
}
